

<header><h1>Julrecept</h1></header>


<a id="varma" class="varma" href="varma.html" class="kategoritext"><div class="varma"><h2>Varma rätter</h2></div></a>
<a id="kalla" class="kalla" href="kalla.html" class="kategoritext"><div class="kalla"><h2>Kalla rätter</h2></div></a>
<a id="godis" class="godis" href="godis.html" class="kategoritext"><div class="godis"><h2>Godis</h2></div></a>
<a id="bakverk" class="bakverk" href="bakverk.html" class="kategoritext"><div class="bakverk"><h2>Bakverk</h2></div></a>

