<!-- <% for dish in @hot_dish_names %>
    <p><%= dish %></p>
<% end %> -->

<header><h1>Julrecept</h1></header>


<a class="varma" href="varma.html" class="kategoritext"><div class="varma"><h2>Varma rätter</h2></div></a>
<a class="kalla" href="kalla.html" class="kategoritext"><div class="kalla"><h2>Kalla rätter</h2></div></a>
<a class="godis" href="godis.html" class="kategoritext"><div class="godis"><h2>Godis</h2></div></a>
<a class="bakverk" href="bakverk.html" class="kategoritext"><div class="bakverk"><h2>Bakverk</h2></div></a>

