<!-- <% for dish in @hot_dish_names %>
    <p><%= dish %></p>
<% end %> -->

<header><h1>Julrecept</h1></header>


<a class="varma" href="varma.html"><div class="varma"></div></a>
<a class="kalla" href="kalla.html"><div class="kalla"></div></a>
<a class="godis" href="godis.html"><div class="godis"></div></a>
<a class="bakverk" href="bakverk.html"><div class="bakverk"></div></a>

