

<header><h1>Varma rätter</h1></header>


<div class="contentbox">


    <% for dish in @hot_dish_names %>
    <!-- <p><%= dish %></p> -->
    <div class="ratter"><h2><%= dish %></h2></div>
    <% end %>

</div>

